@media (min-width: 480px) and (max-width: 767px) { 
  section > div { 
    height: calc(100% / 2);
    width: 100%;
  }
  figure > div { 
    height: calc(100% / 2);
    width: calc(100% / 2);
    float: left;
  }
  header > p { 
    vertical-align: middle;
    line-height: 75px;
  }
  nav > p { 
    vertical-align: middle;
    line-height: 150px;
  }
  section > div > p { 
    vertical-align: middle;
    line-height: 125px;
  }
  figure > div > p { 
    vertical-align: middle;
    line-height: 250px;
  }
  footer > p { 
    vertical-align: middle;
    line-height: 80px;
  }
}

@media (min-width: 768px) { 
  section > div { 
    float: left;
    height: 200px;
    width: calc(100% / 2);
  }
  figure > div { 
    float: left;
    height: 250px;
    width: calc(100% / 4);
  }
  header > p { 
    vertical-align: middle;
    line-height: 100px;
  }
  nav > p { 
    vertical-align: middle;
    line-height: 600px;
  }
  section > div > p { 
    vertical-align: middle;
    line-height: 200px;
  }
  figure > div > p { 
    vertical-align: middle;
    line-height: 250px;
  }
  footer > p { 
    vertical-align: middle;
    line-height: 150px;
  }
}



